@import "./theme.scss";

.ai-pre-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;

  .ai-pre-loader-boarder {
    background-color: $themeColor1;
    height: 100%;
    width: 100%;
    position: absolute;
    // border: 1px solid $themeColor3;
  }

  .ai-pre-loader-container {
    width: 100vw;
    height: 100vw;
    max-width: 900px;
    max-height: 900px;

    svg {
      fill: $themeColor3;
    }
  }
}

.ai-pre-loader-enabled {
}

.ai-pre-loader-disabled {
  height: 0;
  opacity: 0;
  transition: all 1s cubic-bezier(1, -0.6, 0, 1.92);
  overflow: hidden;
}
