@import "./theme.scss";

.ai-window-screen {
  border-radius: $defaultBorder;
  overflow: hidden;

  .ai-taskbar {
    // height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    $circleSize: 12px;

    .ai-circles {
      display: flex;
    }

    .ai-circle {
      width: $circleSize;
      height: $circleSize;
      margin: 0 5px;
      border-radius: 50%;
    }

    .ai-circle1 {
      background-color: #ef4444;
    }

    .ai-circle2 {
      background-color: #f59e0b;
    }

    .ai-circle3 {
      background-color: #10b981;
    }

    .ai-url {
      flex: 1;
      display: flex;
      justify-content: center;

      .ai-url-box {
        background-color: #00000030;
        font-size: 14px;
        padding: 5px;
        width: 70%;
        text-align: center;
        border-radius: $defaultBorder;
        color: #ffffff60;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
